<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/css/createAccount.css"/>
    <title>Document</title>
</head>
<body>
   <nav class="nav">
    <%- include('./partials/nav.ejs') %>
   </nav>
   <main class="main">
   <div class="container">
    <form action="/auth/register" method="POST"  class="create_account_form" >
        <label for="nickName">Name:</label>
        <input type="text" id="nickName" name="nickName" >
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" >
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <label for="passwordR">Repeat Password:</label>
        <input type="password" id="passwordRepeat" name="passwordRepeat">
        <input type="file" name="image"  accept="image/*"/>
        <input type="submit" value="upload">
    </form>
      </form>

   </div>
   </main>
</body>
</html>