<head>
    <link rel="stylesheet" href="/stylesheet/css/partials_nav.css">
</head>
<div class="nav_div">
<h1 class="title">English Gram-mar!</h1>    
<div class="login"><button class="btn"><a href="/auth/login">Login</a></button></div>
</div>